http {
  upstream backend {
    server app_blue:3000 max_fails=1 fail_timeout=2s;
    server app_green:3000 backup;
  }

  server {
    listen 80;

    location / {
      proxy_pass http://backend;
      proxy_next_upstream error timeout http_500 http_502 http_503 http_504;
      proxy_next_upstream_tries 2;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass_request_headers on;
    }
  }
}
